# You must set up your availability identifiers for your chosen region

availability_domain_map = {
  us-sanjose-1 = "Hrrb:US-SANJOSE-1-AD-1"
}

# You must configure at least one server.
# To stay within the free tier, build no more than:
# - aarch64: up to 24GB RAM, up to 4 cores, up to 200GB boot
# - plus amd64: 2x 1GB 1core compute nodes (the "micro" tier)

compute_hosts = {
  fd01 = {
    hostname = "fd-01"
    arch = "aarch64"
    cores = 3
    ram_gb = 16
    disk_gb = 100
  },
  fd02 = {
    hostname = "fd-02"
    arch = "aarch64"
    cores = 1
    ram_gb = 2
    disk_gb = 50
  },
  fd03 = {
    hostname = "fd-03"
    arch = "amd64"
    cores = 1
    ram_gb = 1
    disk_gb = 50
  }
  fd04 = {
    hostname = "fd-04"
    arch = "amd64"
    cores = 1
    ram_gb = 1
    disk_gb = 50
  }
}

# Feel free to override default configuration values set in `variables.tf`
