# https://cloud.oracle.com/
tenancy_ocid = "ocid1.tenancy.oc1..aaaaaaaaaaaaaaaaaaa"

# https://cloud.oracle.com/
user_ocid = "ocid1.user.oc1..aaaaaaaaaaaaaaaaaaaaaa"

# https://cloud.oracle.com/identity/compartments
compartment_ocid = "ocid1.compartment.oc1..aaaaaaaaaaaaaaaaaaaaaa"

# https://docs.cloud.oracle.com/iaas/Content/API/Concepts/apisigningkey.htm
signing_private_fingerprint = "ab:cd:ef:11:11:11:11:11:22:22:22:22:22:22:22:22"

# https://docs.cloud.oracle.com/iaas/Content/API/Concepts/apisigningkey.htm
signing_key_private_path = "/home/YOURUSER/.oci/oracleidentitycloudservice_USER-01-02-03-04.pem"

# Supply a unix account username to be created on the compute server
compute_username = "unixuser"

# Creating ssh key pairs and extracting your ssh authorized_keys-style public key string for this field is outside the scope of this documentation.
compute_ssh_public_key = "ssh-ed25519 AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA unixuser@example.com"

# https://login.tailscale.com/admin/settings/authkeys
tailscale_auth_key = ""
